@charset "ISO-8859-1";
table {
  font-family: arial;
  border-collapse: collapse;
  width: 100%;
}

td,th{
  border: 1px solid #000;
  text-align: left;
  padding: 8px;
}

th{
  text-align: center;
  background-color: #999966;
}